.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
table{
    display: block;
    margin: 40px;
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;   
}
td,th{
    border:1px solid #000000;
    padding: 8px 15px;
}
.Contactos{
    width: 1000px;
}
.Contactos li{
    display: inline-block;
    width: 40%;
    padding: 0 2.5%;
    vertical-align: bottom;
}